@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: nixie one, serif;
  --lightGray-color: #e4e4e4;
  --primary-color: #808080;
  --gray-color: #6b7688;
  --secondary-color: #e4e4e4;
  --color-bg: #3D3A3D;
  --gray-500: #6b7280;
  --gray-600:  rgb(156 163 175);
  --bg-gold: #FFB700;
  --mid-gray: #555555;
  

  --gradient-bar: linear-gradient(103.22deg, #a39bab -13.86%, #85807e 99.55%);
  
}

.gradient__bg               
{

/* ff 3.6+ */
background:-moz-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(158, 152, 158, 1) 100%); 

/* safari 5.1+,chrome 10+ */
background:-webkit-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(158, 152, 158, 1) 100%);

/* opera 11.10+ */
background:-o-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(158, 152, 158, 1) 100%);

/* ie 6-9 */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9E989E', endColorstr='#000000', GradientType=0 );

/* ie 10+ */
background:-ms-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(158, 152, 158, 1) 100%);

/* global 94%+ browsers support */
background:linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(158, 152, 158, 1) 100%);

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html,
body {
  font-family: var(--font-family) !important;
  &:before{
      content:'';
      content: "";
      width: 100%;
      height: 100vh;
      //background: linear-gradient(to right bottom, #6d327c, #485DA6, #00a1ba, #01b18e, #32b37b);
      // background: #D3D3D3;
      position: fixed;
      left: 0;
      top: 0;
      z-index: -1;
      background-position: 50% 50%;
      // background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../public/her-returns-to-form-on-her-debut-album-back-of-my-mind.jpg');
      // background-color: #000000;
      background:linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(158, 152, 158, 1) 100%);

      background-repeat: no-repeat;
      background-size: cover;
      color: var(--secondary-color);
    }
}

/* Navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 20px;
  background-color: var(--color-1);
  border-bottom: 1px solid var(--primary-color);
}

nav a {
  color: var(--secondary-color);
  text-decoration: none;
}
nav div a {
  margin-right: 20px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: var(--gradient-bar);
  overflow: hidden;
  padding-left:45px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  align-items: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

/* Add an active class to highlight the current page */
.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
  color: var(--primary-color);
  background: var(--secondary-color);
  border-radius: 8px; 
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 15px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  font-family: inherit;
  margin: 0;
}


/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  opacity: 0.7;
}
/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: var(--secondary-color);
  font-weight: 600;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover {
  // background-color: var(--gray-600);
  border-radius: 5px;
  color: var(--primary-color)
}

.dropdown button:hover {
  color: var(--primary-color)
}

.dropdown:hover .dropdown-content {
  display: block;
  font-weight: bold;
}


.login-card {
  position: relative;
  top: calc(50vh - 300px);
  left: calc(50vw - 210px);
  padding: 15px 20px;
  // padding-top: 36px;
  // padding-bottom: 66px;
  width: 420px;
  display: inline-block;
  border-radius: 22px;
  box-shadow: 1px 2px 10px var(--secondary-color)
}

// section {
//   max-width: 500px;
//   margin: 0 auto;
//   margin-top: 100px;
//   box-shadow: 1px 2px 10px var(--color-4);
//   padding: 10px 20px;
//   border-radius: 5px;
// }

.react-multi-carousel-list {
  & .arrow-btn{
    transition: width 300ms ease;
    width: 50px;
    &:hover{
      width: 60px;
    }
  }
  
}

.carousel {
  margin: 2rem;
  padding-bottom: 12px;
  
  span{
    padding-left: 20px;
  }
}

section h3 {
  font-size: 20px;
}

/* register form */
section .form {
  margin-top: 30px;
  padding: 0px 20px;
}

.input-container {
  margin-top: 20px;
  color: var(--secondary-color);

  input {
    width: 100%;
    color: black;
    outline:none;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    display: inline-block;
    background-color: var(--secondary-color);
  }
}

.btn_container {
  margin: 10px 0px;
  text-align: center;
}

.btn {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--secondary-color);
  cursor: pointer;
  transition: 0.3s ease-in-out all;
  font-size: 15px;
}

.btn:hover {
  transform: scale(1.05);
}

.error {
  text-align:center;
  color: red;
}

/* Profile */
// .profile_container {
//   position: relative;
//   top: calc(50vh - 144px);
//   left: calc(50vw - 210px);
//   padding: 15px 20px;
//   width: 430px;
//   border-radius: 8px;
//   box-shadow: 1px 2px 10px var(--secondary-color)
//   // display: flex;
//   // align-items: center;
// }

.profile_container {
  display: flex;
  align-items: center;
  position: relative;
  top: calc(50vh - 144px);
  left: calc(50vw - 210px);
  width: 430px;
  height: 230px;
  border-radius: 8px;
  box-shadow: 1px 2px 10px var(--secondary-color);
}

.img_container {
  position: relative;
  margin-right: 20px;

  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid var(--color-4);
    transition: 0.5s ease-in-out all;
  }
}

.img_container:hover img {
  opacity: 0.4;
}

.img_container:hover .overlay {
  opacity: 1;
}

.overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text_container {
  flex-grow: 1;

  h3 {
    font-size: 25px;
    text-align: left;
  }

  p {
    font-size: 15px;
  }
}

/* dashboard page styles */
.home_container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr;
  overflow: hidden;
  height: calc(100vh - 70px);
  width: 100vw;
}

.users_container {
  margin-top: 51px;
  border-right: 2px solid var(--primary-color);
  overflow-y: auto;
  padding-left: 8px;
}

.user_wrapper {
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}

.user_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user_detail {
  display: flex;
  align-items: center;

  h4 {
    margin-left: 10px;
    font-size: 18px;
  }
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--color-bg);
}

.user_status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.online {
  background: #34eb52;
}
.offline {
  background: red;
}

.messages_container {
  position: relative;
  width: 100%;
}

.messages_user {
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid var(--primary-color);
}

.no_conv {
  font-size: 20px;
  color: var(--secondary-color);
  text-align: center;
}

.message_form {
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;

  input {
    width: 40vw;
    margin: 0px 10px 10px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
  }

  .btn {
    margin-top: -10px;
  }
}

/* chat section styles */
.messages {
  height: calc(100vh - 200px);
  overflow-y: auto;
  border-bottom: 1px solid #333;
}
 
.message_wrapper {
  margin-top: 5px;
  padding: 0px 5px;

  img {
    width: 100%;
    border-radius: 5px;
  }

  p {
    padding: 10px;
    display: inline-block;
    max-width: 50%;
    text-align: left;
    border-radius: 5px;
    font-size: 18px;
  }

  small {
    display: inline-block;
    margin-top: 15px;
    opacity: 0.8;
  }
}

.message_wrapper.own {
  text-align: right;
}
.me {
  background: #0084ff;
  color: white;
}
.friend {
  background: var(--primary-color);
}

/* sidebar on dashboard page */
.selected_user {
  background: var(--color-bg);
}

.truncate {
  font-size: 14px;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;

  strong {
    margin-right: 10px;
  }
}

.unread {
  margin-left: 10px;
  background: #0084ff;
  color: white;
  padding: 2px 4px;
  border-radius: 10px;
}

.sm_screen {
  display: none;
}

// .socials {
//   text-align:center;
//   display: grid;
//   padding: 5px;
// }
/* footer styles */
.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.footer, .push {
  margin-top: 400px;
  height: 50px;
}

/* album page styles */
#streaming a {
  font-size: 18px;
}

#albums h1 {
  font-size: 18px;
}

.app__social {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;

  padding: 1rem;

  div:hover {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    // background-color: var(--secondary-color);
    margin: 0.25rem 0;
    border: 1px solid var(--lightGray-color);

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;

    svg {
      width: 15px;
      height: 15px;
      color: var(--gray-color);
    }

    &:hover {
      background-color: var(--secondary-color);
      border-color: var(--secondary-color);

      svg {
        color: var(--white-color);
      }
    }

    @media screen and (min-width: 2000px) {
      width: 70px;
      height: 70px;

      margin: 0.5rem 0;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.p-text {
  font-size: 0.8rem;
  text-align: left;
  color: var(--black-color);
  line-height: 1.5;

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }
}

.copyright {
  width: 100%;
  padding: 2rem 0 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  p {
    text-transform: uppercase;
    color: var(--black-color);
  }
}

/* media queries */

@media screen and (max-width: 767px) {
  .home_container {
    grid-template-columns: 2fr 3fr;
  }

  .message_form {
    left: 3%;
    right: 0;
    bottom: 5px;
  }
  .message_wrapper p {
    max-width: 75%;
  }

  .topnav {
    display: flex;
    align-items: center;
  }

/* nav styles on mobile */
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  // .topnav a:not(:first-child), .dropdown .dropbtn {
  //   display: none;
  // }
  
  // .topnav a.icon {
  //   float: right;
  //   display: block;
  // }
  // .topnav.responsive a.icon { 
  //   position: absolute;
  //   right: 0;
  //   top: 0;
  // }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }


  // .topnav a.icon {
  //   float: right;
  //   display: block;
  // }
  
  .socials {
    text-align:center;
    display: grid;
    padding: 5px;
  }

  
}

/* meetups styles */

.app__meetups__blog {
  display: flex;
  flex-direction: column;
}

.meetups-image {
  width: 80%;
  display: cover;
  padding-left: 8px;
}


.app__meetups__blog-heading {
  width: 100%;
  text-align: center;
  margin-bottom: 5rem;
}

.app__meetups__blog-heading h2 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
}


.app__meetups__blog-container {
  display: flex;
  flex-direction: row;
}

.app__meetups__blog-container_groupA{
  flex:0.55;
  margin-right: 2rem;
  padding-left: 8px;
}

.app__meetups__blog-container_article {
  width: 48%;
}

.app__meetups__blog-container_article {
  width: 100%;
  height: 300px;

  display: flex;
  flex-direction: column;
  background: rgba(158, 152, 158, 1);  
  box-shadow: 0 0 5 rgba(223, 221, 221, 0.2);
  opacity: 0.6;
}

.app__meetups__blog-container_article-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  height: 50%;
  padding: 5px;
  

  p {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 35px;
    color: #FFFFFF;
  }

  h3 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 25.11px;
    line-height: 30px;
    color: #000;
    margin-bottom: 5rem;
    cursor: pointer;
  }
}

.app__meetups__blog-container_groupB {
  flex:1;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}

/* updates styles */
.app__updates__blog {
  display: flex;
  flex-direction: column;
}

.app__updates__blog-heading {
  width: 100%;
  text-align: center;
  margin-bottom: 5rem;
}

.app__updates__blog-heading h2 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
}

.app__updates__blog-container {
  display: flex;
  flex-direction: row;
}

.updates-image  {
  width: 100%;
  display: cover;
}

.app__updates__blog-container_groupA {
  flex:0.55;
  margin-right: 2rem;
}

.app__updates__blog-container_groupB {
  flex:1;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}

/* update component styles */ 

.app__updates__blog-container_article {
  width: 100%;
  height: 300px;

  display: flex;
  flex-direction: column;
  background: rgba(158, 152, 158, 1);
  box-shadow: 0 0 5 rgba(0,0,0,0.2);
  opacity: 0.7;
}

.app__meetups__blog-container_article {
  width: 100%;
  height: 300px;

  display: flex;
  flex-direction: column;
  background: rgba(158, 152, 158, 1);
  box-shadow: 0 0 5 rgba(0,0,0,0.2);
  opacity: 0.7;
}





.app__updates__blog-container_article-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  height: 50%;
}

.app__updates__blog-container_article-content p {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 35px;
  color: #FFFFFF;
}

.app__updates__blog-container_article-content span{
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 35px;
  color: #FFFFFF;
}

.app__updates__blog-container_article-content h3 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 25.11px;
  line-height: 30px;
  color: #000;
  margin-bottom: 5rem;
  cursor: pointer;
}

.bg-image {
  width: 300px;
  height: 300px;
  // background-image: url('./assets//shegang.png');
  opacity: 0.7
}

/* video page styles */
.video-container {
  position: relative;
  padding-bottom: 56.25;
  height: 100%;
  padding-top: 24px;
}

.video-container iframe, .video-container object, .video-container embed 
{
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 300px;
  top:0;
  left: 0;
  padding-left: 10px;
  padding-top:30px;
}

.videos {
  position: relative;
}

/* samples page */
#sample a {
  font-size: 14px !important;
  font-weight: 300;
  padding: 2;
  margin: 0 auto;
  text-align: center;
  color: #fff;

&:hover{
  opacity: 1;
  transition: opacity .15s ease-in;
  color: #ccc;
  }
}



@media screen and (max-width: 576px) {
  .home_container {
    grid-template-columns: 1fr 5fr;
  }
  .user_wrapper {
    display: none;
  }
  .sm_container {
    padding: 10px 0px;
    text-align: center;
    cursor: pointer;
  }
  .sm_screen {
    display: inline-block;
  }
  .message_form input {
    width: 50vw;
    margin: 0px 10px;
  }
  .message_form .btn {
    margin: 0px;
  }

  .message_wrapper p {
    max-width: 100%;
  }

  #albums h1 {
    font-size: 14px;
    text-align:center;
  }
  
  #albums li {
    font-size: 13px;
    }

    /* albums page on mobile */
  #streaming a {
    text-align: center;
    font-size: 15px;
    display: grid;
    padding: 5px;
}
/* video styles on mobile */
.video-container {
  position: relative;
  padding-bottom: 56.25;
  padding-top: 6px;
  height: 170px;
}

.video-container iframe, .video-container object, .video-container embed 
{
  position: relative;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  border: none;
  padding: 4px;
}

    
}

/* styles for pages on mobile */

@media screen and (max-width:990px) {

  .updates-image{
    width: 80%;
    display: cover;
  }

  .app__updates__blog-heading h2 {
    font-size:30px;
  }

  .app__meetups__blog-heading h2 {
    font-size: 30px;
  }

  .app__updates__blog-container {
      flex-direction: column;
  }

  .app__updates__blog-container_groupA {
      margin: 2rem 0;
  }

  .app__meetups__blog-container_groupA{
    margin: 2rem 0;
  }

  .app__meetups__blog-container_groupA .app__meetups__blog-container_article {
    width: 48%;
}

.app__meetups__blog-container_groupB {
  padding: 2px;
  width: 100%;
}

.app__meetups__blog-container_groupA .app__meetups__blog-container_article-image {
  height: 250px;
}
  
  .app__updates__blog-container_groupA .app__updates__blog-container_article {
      width:100%;
  }

  .app__updates__blog-container_groupB {
    padding: 2px;
    width: 100%;
  }
  .app__updates__blog-container_groupA .app__updates__blog-container_article-image {
      height: 250px;
  }

  .app__meetups__blog-container {
    flex-direction: column;
  }

.app__meetups__blog-container_groupA {
    margin: 2rem 0;
}

.app__meetups__blog-container_groupA .app__meetups__blog-container_article {
    width: 100%;
}
.app__meetups__blog-container_groupA .app__meetups__blog-container_article-image {
    height: 250px;
}

  /* text under header */
  .description p{
    font-size: 12px;
    text-align: center;
    line-height: 1.3;
  }
/* video styles on mobile */
.video-container {
  position: relative;
  padding-bottom: 56.25;
  padding-top: 6px;
  height: 170px;
}

.video-container iframe, .video-container object, .video-container embed 
{
  position: relative;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  border: none;
  padding: 12px;
}

.samples {
  padding-bottom: 400%;
}

/* samples page */
  #sample a {
    font-size: 12px !important;
    font-weight: 300;
    padding: 2;
    margin: 0 auto;
    text-align: center;
  
  &:hover{
    opacity: 1;
    transition: opacity .15s ease-in;
    color: #ccc;
    }
  }

  .users_container {
    margin-top: 51px;
    border-right: 2px solid var(--primary-color);
    overflow-y: auto;
    padding-left: 6px;
  }

}